<div class="main-header">
  <div class="room-name">
    Hoge
  </div>
  <div class="end-group-btn">
    <a href="#">チャットを終了する</a>
  </div>

</div>
<div class="main-body">
  <div class="message">
    <div class="message-info">
      <div class="message-name">
        Tom
      </div>
      <div class="posted-at">
        2020/10/30
      </div>
    </div>
    <div class="text">
      Hello World!
    </div>
  </div>
  <div class="message">
    <div class="message-info">
      <div class="message-name">
        Hana
      </div>
      <div class="posted-at">
        2020/10/29
      </div>
    </div>
    <div class="text">
      See you!
    </div>
  </div>
</div>

<div class="main-footer">
  <div class="text-form">
    <input class= "message-text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-btn" type="submit" value="送信">
</div>