
.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.main-bar {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header{
  background-color:#FFFFFF;
  height: 100px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.main-body{
  background-color: #FAFAFA;
  height: calc(100vh - 190px);
  padding: 46px 40px 0px 40px;
  overflow: scroll;
}

.rooms{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.user-name a{
  color: #FAFAFA;
  font-size: 16px;
  margin: 0 0 0 20px;
  text-decoration: none;
}

.create-group a{
  padding: 14px;
  margin: 0 20px 0 0;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.room{
  padding: 20px 20px 40px 20px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.main-header room-name{
  color: #333;
  padding: 36px 40px;
  font-size: 24px;
}

.end-group-btn{
  border: 1px solid darkred;
  padding: 20px;
  margin: 40px;
}

.end-group-btn a{
  color: darkred;
  text-decoration: none;
}

.message-name{
  font-size: 16px;
  color: #434A54;
  margin: 10px 10px 10px 0;
}

.posted-at{
  color: #999;
  font-size: 12px;
  margin-top: 10px;
}

.text{
  color: #434A54;
  font-size: 14px;
}

.message{
  margin: 0 40px 0 0;
}

.message-info{
  display: flex;
}

.message-text{
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

.form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-input{
  background-color: white;
  width: 100%;
  display: flex
}

.submit-btn{
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #38AEF0;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.form-submit{
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.hidden {
  display: none;
}